nav.navigation-bar {
  z-index: 2;
}

nav.navigation-bar .navigation__items .menu li {
  display: flex;
  padding: 0;
}

nav.navigation-bar .navigation__items .menu a {
  padding: 0;
}

nav.navigation-bar .navigation__items .menu a:hover {
  background-color: inherit;
}
.field--name-field-homepage-header {
  display: none;
}

#wb-info nav {
  padding: 0;
}

footer nav a, footer nav h3 {
  white-space: nowrap;
}