body {
  background-color: #fff;
}

body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: 10000;
}

.block-region-main {
  background-color: #fff;
}

h2.hl {
  font-size: 34px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}
nav.navigation-bar {
  z-index: 2;
}

nav.navigation-bar .navigation__items .menu li {
  display: flex;
  padding: 0;
}

nav.navigation-bar .navigation__items .menu a {
  padding: 0;
}

nav.navigation-bar .navigation__items .menu a:hover {
  background-color: inherit;
}
.field--name-field-homepage-header {
  display: none;
}

#wb-info nav {
  padding: 0;
}

#wb-info a {
  font-size: inherit;
}

#block-impact-languageswitcher h2 {
  display: none;
}

#block-impact-languageswitcher ul {
  margin: 0;
}

#block-impact-languageswitcher ul li {
  padding: 0;
}

#block-impact-bootstrap-footer {
  display: block;
}

main .btn-primary {
  background-color: #469EE1;
  border-color: #335075;
}

.jumbotron h1 {
  margin-top: 38px;
  margin-bottom: 30px;
}

.navbar-nav > li > a {
  line-height: inherit;
}

footer nav a, footer nav h3 {
  white-space: nowrap;
}
