        <!-- other initiatives -->
        <section id="nonChallenges">
            <div class="container">
                <h2 class="h1"><span class="blt blt-red"></span> Other initiatives</h2>
                <div class="row mrgn-tp-lg wb-eqht">
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/1-opioid.jpg' }}" alt="drug containers on a shelf" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Health Canada</p>
                                        <h3>Opioid Drug Treatment Social Impact Bond</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/2-homelessness.jpg' }}" alt="homeless person sitting on box in the streets" class="img-responsive" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Employment and Social Development Canada</p>
                                        <h3>Homelessness Pay for Success Project</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="./challenge.html">
                            <div class="card">
                                <div class="img-holder">
                                    <img src="{{ images_path  ~ 'other-initiatives/3-cannabis.jpg' }}" alt="Cannabis Leaf" class="" />
                                </div>
                                <div class="card-body">
                                    <div class="blt"></div>
                                    <div>
                                        <p>Correctional Service Canada</p>
                                        <h3>Cannabis Pardons Service Delivery Enhancements</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
