        <!-- CTA box -->
        <section id="ctaBox">
            <div class="cta cta__blue">
                <div class="container">
                    <h2 class="h1"><span class="blt blt-red"></span> Become a partner. Launch a Challenge.</h2>
                    <p>The Impact Canada Initiative is led by a Centre of Expertise housed within the Impact and Innovation Unit of the Privy Council Office, which also manages this platform in partnership with Government of Canada departments.</p>
                    <a type="button" class="btn btn-navy" href="./partner-with-us.html">Become a partner</a>
                </div>
            </div>
        </section>
